@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* Navbar CSS */
.navbar {
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  color: #fff;
}

.menu-bars-closed {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: #B66358;
  }

.nav-menu {
  background: rgb(182,99,88);
  background: linear-gradient(180deg, rgba(182,99,88,1) 33%, rgba(230,184,173,1) 100%);
  width: 320px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 289;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #fff;
  color: #B66358;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: transparent;
  color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

/* Button CSS */

.dashButton {
  padding: 10px 15px;
  border-radius: 10px;
  color: #B66358;
  border: 0px;
  background:#fff;
}

.dashButton:hover {
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}

.dashButtonLight {
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  border: 0px;
  background: #B66358;
}

.dashButtonLight:hover {
  box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
}

/* Transaction Tag */

.transactionStatus {
  text-align: center;
  font-size: 12px;
  width: 20%;
  padding: 5px 5px;
  border-radius: 10px;
  color: #B66358;
  border: 1px solid #B66358;
}

/* buat whatsapp di custom */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 10px;
  }

  .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
  }
}